#container {
	max-width: 600px;
	margin: 0 auto;
}
body {
	background-color: #407db0;
}

h1 {
	color: #ffffff; 
	font-family: 'Homemade Apple', helvetica, sans-serif;
	font-weight: bold;
}
h2 {color: #9c9c9c; 
	font-family: 'News Cycle', sans-serif;

}

p {
	color: #ffffff;
	font-family: 'News Cycle', sans-serif;
}